* {
  box-sizing: border-box;
}

a {
  color: #0961be;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  margin-top: 0.1em;
  appearance: initial;
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 14px;
  background-color: #f8f8f8;
  padding: 0.3em 0.5em;
}

button:hover {
  background-color: #f0f0f0;
}

button:active {
  background-color: #e8e8e8;
}

html {
  background-color: white;
  background-image: url('bg.svg');
  background-size: 35.5px;
  background-position: -5px -5px;
  font-family: "helvetica neue", arial, helvetica, "lucida grande", sans-serif;
}

#root {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#root,
#app-container,
html,
body {
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

input[type="checkbox"],
label[for] {
  cursor: pointer;
}

input[type="text"],
input[type="range"],
input[type="number"],
select,
textarea,
.textarea {
  appearance: initial;
  border-radius: 0;
  background-color: #fff;
  padding: 0.3em 10px;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.5em;
  margin: 0 -10px;
  width: calc(100% + 20px);
  border-left: none;
  border-right: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.invalid {
  border-color: red !important;
}

.done::after {
  content: " ✔"
}

textarea {
  resize: none;
  min-height: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: 0.5em 0;
  line-height: 1.2;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 130%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 110%;
}

h5,
h6 {
  font-size: 100%;
}

code {
  font-family: monospace;
}

.titleBox {
  font-size: 130%;
  font-weight: bold;
  min-height: 0px;
  border-top: 0;
}

.saveBox {
  margin-top: 1em;
  margin-bottom: 1em;
}

.app.column {
  float: left;
  padding: 0 10px 50px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.app.column.knobs {
  width: 200px;
}

.app.column.conversation,
.app.column.system {
  width: calc((100% - 200px) / 2);
}

.app.column.conversation {
  position: relative;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.widescreen>.app.column.knobs,
.widescreen>.app.column.system {
  display: none;
}

.widescreen>.app.column.conversation {
  width: 100%;
}


.knobs label {
  display: block;
  margin-top: 0.7em;
}

.open-api-key,
.open-completion-url {
  float: right;
  margin-left: 0.5em;
  margin-top: 10px;
}

.stop-sequences {
  height: 8em;
}

.cost-item::before {
  content: "~$ ";
}

label[for="wide-screen"] {
  -webkit-user-select: none;
  user-select: none;
  line-height: 1em;
  border: 1px solid #999;
  border-radius: 2px;
  color: #999;
  vertical-align: center;
  font-weight: normal;
  position: fixed;
  right: 210px;
  top: 10px;
  background-color: white;
}

label[for="wide-screen"]:hover {
  color: #000;
  border: 1px solid #000;
}

label[for="wide-screen"]>input[type="checkbox"] {
  display: none;
}

.widescreen label[for="wide-screen"] {
  right: 10px;
}

label[for="wide-screen"]::before {
  content: "⇠⇢";
}

.widescreen label[for="wide-screen"]::before {
  content: "⇢⇠";
  right: 10px;
}