.messages {
  margin-bottom: 1em;
}

.messages>.message>.function-name {
  border-bottom: 0;
}

.messages>.message>.delete {
  cursor: pointer;
  float: right;
  margin-left: 0.5em;
  padding: 0 0.5em;
  color: #555;
}

.messages>.message>.delete:hover {
  color: white;
  background: red;
}

.messages>.message>.delete::before {
  content: "×";
}

.messages>.message>.type:hover {
  background: #eee;
}

.messages>.message>.type {
  cursor: pointer;
}

.messages>.message[data-type="user"]>.type::before {
  content: "User";
}

.messages>.message[data-type="assistant"]>.type::before {
  content: "Assistant";
}

.messages>.message[data-type="function_call"]>.type::before {
  content: "Assistant (Function Call)";
}

.messages>.message[data-type="function_result"]>.type::before {
  content: "User (Function Result)";
}

.messages>.message>.type::after {
  content: " ⮂:";
}

.messages>.message>.type {
  padding: 0.25em 0;
}

.submit-request,
.cancel-request {
  float: right;
}

.stop-reason {
  color: crimson;
  float: right;
  margin-right: 0.5em;
}

.messages .markdown table,
.messages .markdown td,
.messages .markdown th {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
}

.messages .markdown {
  margin: 0 -10px;
  padding: 0 10px;
  overflow-x: auto;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.messages .markdown pre {
  overflow-x: auto;
  font-size: 90%;
}

.messages .markdown pre:has(code) {
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  line-height: 1em;
  padding: 0.5em 0.7em;
}